-e .
accelerate
black[jupyter]
dvc
dvclive
evaluate
gensim
hydra-core
hydra-joblib-launcher
hydra_colorlog
jupyter
keras
matplotlib
mlflow
mypy
nltk
notebook
numpy
pandas
pre-commit
pydantic
pytest
rich
scikit-learn
seqeval[gpu]
strictly-typed-pandas
tensorflow
torch
transformers
