-e .
black[jupyter]
dvc
dvclive
hydra-core
hydra-joblib-launcher
hydra_colorlog
jupyter
matplotlib
mlflow
mypy
nltk
notebook
numpy
pandas
pre-commit
pydantic
pytest
rich
scikit-learn
strictly-typed-pandas
