
accelerate
black[jupyter]
click
dvc
dvclive
evaluate
flake8-pyproject
Flask
gensim
hydra-core
hydra-joblib-launcher
hydra_colorlog
itsdangerous
Jinja2
jupyter
keras
MarkupSafe
matplotlib
mlflow
mypy
nltk
notebook
numpy
pandas
pre-commit
pydantic
pytest
requests
rich
scikit-learn
seqeval
strictly-typed-pandas
tensorflow==2.13.0
torch
transformers<=4.29.2
uWSGI
Werkzeug
boto3