
accelerate
black[jupyter]
click
evaluate
flake8-pyproject
Flask
gensim
hydra-core
hydra-joblib-launcher
hydra_colorlog
itsdangerous
Jinja2
jupyter
keras
MarkupSafe
matplotlib
mlflow
mypy
nltk
notebook
numpy
pandas
pre-commit
pydantic
pytest
requests
rich
scikit-learn
seqeval
strictly-typed-pandas
tensorflow
torch
transformers
Werkzeug
